html  { box-sizing: border-box;}
body { margin: 0; }
img { max-width: 100% }
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.simple-photo {
    width: 1280px;
    margin: 0 auto;
    text-align:center;
}
.simple-photo .navbar {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 31px 0;
    width: 620px;
    height: 15px;
     }
.navbar .navbar-list {
    display: inline-block;
    padding: 0;
    margin: 0 -29px;
}
.navbar-list a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;

    text-decoration: none;

    color: #FF0000;
}
.navbar .navbar-item {
    display: inline-block;
   padding: 0 29px;
   vertical-align: middle;
}
.content {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    background: rgba(0, 0, 0, 0.0001)
}
.content .image {
    width: 1280px;
}
.content .title {
padding: 48px 0;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
text-align: center;
letter-spacing: 3.3px;
text-transform: uppercase;

color: #373737;
}
.content .text {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
padding: 0 68px 28px 68px;
color: #373737;
}
.content .content-text {
    padding-bottom: 38px;
}
.botton-rectangle {
    padding-bottom: 42px;  
}
.botton-rectangle .button {
    display: block; 
    margin: 0 auto;
padding: 18px 43px 17px 42px;
background: #FF0000;
border-radius: 4px;
border-color: #FF0000;
color: #FFFFFF;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
align-items: center;
letter-spacing: 1.8px;
text-transform: uppercase;
}
.footer {
width: 1070px;
margin: 0 auto;
}
.footer .footer-text {
padding: 40px 0;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: right;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
}