@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Regular.woff2') format('woff2'),
        url('../font/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-LightItalic.woff2') format('woff2'),
        url('../font/Ubuntu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('../font/Ubuntu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Light.woff2') format('woff2'),
        url('../font/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Medium.woff2') format('woff2'),
        url('../font/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Italic.woff2') format('woff2'),
        url('../font/Ubuntu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('../font/Ubuntu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Bold.woff2') format('woff2'),
        url('../font/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    background-image: url(../image/background.png);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    min-height: 642px;
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}
.header {
    width: 100vw;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.header .logo {
    margin: auto auto auto 79px;
}
.link {
    text-decoration: none;
}
.logo .logo-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFF;
    transition: 0.5s;
}
.logo .logo-text:hover {
    color: #01813F;
}
.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.navi .contact {
    width: 147px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi .contact .navi-icon {
    width: 24px;
    fill: white;
    transition: 0.5s;
}
.navi .contact .navi-icon:hover {
    fill: #01813F;
}
.navi .contact::after {
    content: "";
    position: relative;
    height: 19px;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}
.navi .login {
    font-weight: normal;
    font-size: 14px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.log .sign {
    white-space: nowrap;
}
.login .login-text {
    color: #FFF;
    white-space: nowrap;
    
}
.login .link {
    transition: 0.5s;
}
.login .link:hover {
    color: #01813F;
}
.sign .login-text:first-child::before {
    content: "";
    padding-right: 5px;
}
.main {
    min-width: 444px;
    height: calc(100vh - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-form {
    width: 444px;
    height: 584px;
    padding: 31px 60px 38px;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reg-form .form-title {
    display: flex;
    justify-content: space-between;
}
.reg-form .form-title::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
    z-index: 2;
}
.reg-form .name-form {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.reg-form .form-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.reg-form .button-line {
    display: flex;
    justify-content: space-between;
}
.reg-form .form-button {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: stretch;
    align-items: center;
    cursor: pointer;
}
.button-line .button-logo {
    width: 47px;
    box-sizing: border-box;
    position: relative;
}
.button-line .button-logo::after {
    content: "";
    width: 1px;
    height: 28px;
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.button-line .button-blue {
    background-color: #305DB8;
    transition: 0.5s;
}
.button-line .button-blue:hover {
    background-color: #022263;
}
.button-line .button-red {
    background-color: #DF4A32;
    transition: 0.5s;
}
.button-line .button-red:hover {
    background-color: #AB1F09;
}
.button-line .logo-text {
    margin: 0 auto;
}
.input-field {
    width: 322px;
    height: 44px;
    box-sizing: border-box;
    padding: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    background: #FFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
}
.input-field:first-child {
    color: #434343;
}
.input-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
 }
.fieldset {
    border-top: 1px solid #F2F2F2;;
}
.title-frame {
    width: 100%;
    border-top: 1px solid green;
    text-align: center;
    background-color: #FFF;
    padding: 0 2px;
    position: relative;
    bottom: 2px;
}
.reg-form .checkbox-title {
    padding-right: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}
.checkbox .conditions {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.reg-form .link:hover {
    color: #01813F;
    text-decoration: underline;
}
.reg-form .submit {
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.5s;
}
.reg-form .submit:hover {
    background-color: #01813F;
}
.reg-checkbox:checked, 
.reg-checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}
.reg-checkbox:checked + label, 
.reg-checkbox:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
.reg-checkbox:checked + label:before, 
.reg-checkbox:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2
}
.reg-checkbox:checked + label::after, 
.reg-checkbox:not(:checked) + label::after {
    content: "";
    position: absolute;
    transition: all 0.5s ease;
}
.reg-checkbox:checked + label::after, 
.reg-checkbox:not(:checked) + label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 2px;
    background-image: url(../image/form/Vector\ 1.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.reg-checkbox:not(:checked) + label::after {
    opacity: 0;
}
.reg-checkbox:checked + label::after {
    opacity: 1;
}
