.container {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-image: url(../image/background.png);
    font-family: Roboto;
    font-style: normal;
}
.header {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 46px 0 21px;
}
.link {
    text-decoration: none;
}
.header .logo {
    width: 180px;
    height: 51px;
    position: relative;
}
.header .logo:hover > .colored {
    color: #F26522;
}
.header .logo:hover > .logo-img {
    z-index: -1;
}
.header .logo .logo-img {
    width: 53px;
    margin-right: 8px;
    float: left;
    position: relative;
    z-index: 2;
}
.header .logo .logo-img1 {
    width: 53px;
    margin-right: 8px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.header .logo .Logo-text1 {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFF
}
.header .logo .Logo-text2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 4px;
    color: #FFF
}
.header .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.header .contact .item {
    align-items: flex-end;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFF
    
}
.header .contact .item:hover {
    color: #F26522;
}
.main {
    width: 1024px;
    margin: auto;   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 37px 62px;
    justify-content: space-between;
}
.main .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 261px;
    position: relative;
}
.main .item .price {
    display: grid;
    grid-template-columns: 68px 1fr 37px;
    grid-template-rows: 4fr 5fr;
    grid-template-areas:
    "text-price1 . ."
    "text-price2 text-price3 array";
    justify-items: center;
    align-items: baseline;
    width: 296px;
    height: 55px;
    position: absolute;
    left: 2px;
    bottom: 43px;
    background: #F26522;
    opacity: 0;
    transition: opacity 1s;
}
.price .text-price1 {
    grid-area: text-price1;
    padding-right: 10px;
    align-self: center;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFF;
}
.price .text-price2 {
    grid-area: text-price2;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}
.price .text-price3 {
    grid-area: text-price3;
    justify-self: end;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
}
.price .array {
    grid-area: array;
    color: #FFF;
    display: block;
    text-decoration: none;
}

.price .array:before, .price .array::after {
    border-right: 2px solid;
    content: '';
    display: block;
    height: 7px;
    margin-top: -4px;
    position: absolute;
    transform: rotate(135deg);
    top: 65%;
    width: 0;
}
.price .array::after {
    margin-top: 0;
    transform: rotate(45deg);
}
.main .main-img {
    width: 300px;
    height: 220px;
}
.main .main-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFF;
    transition: color 1.2s;
}
.main .item:hover > .colored {
    color: #F26522;
}
.main .item:hover > .price {
    opacity: 1;
}
.footer {
    position: relative;
    top: 49px;
}
.footer .footer-text {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFF
}