body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
.container {
    max-width: 1900px;
    margin: 0 auto; 
}
.header {
    height: 438px;
}
.header .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}
.navbar .logo-box {
    width: 206px;
    background: rgba(0, 0, 0, 0.0001);
    display: flex;
    justify-items: space-between;
    align-items: center;

}
.navbar .logo-box a{
    text-decoration: none;
}
.navbar .logo-box .logo {
    width: 27px;
    height: 27px;
}
.navbar .navbar-text {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    align-content: center;

}
.navbar .top-menu {
    width: 772px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .top-menu .top-menu-list a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.navbar .top-menu .top-menu-list a:hover {
    color: #14B9D5;
}
.navbar .find {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    background: #000000;
}
.navbar .find .find-img {
    width: 17px;
    height: 17px;
}
.header-container {
    width: 1900px;
    height: 369px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: #000000;
}
.header-img .header-img-item {
    position: relative;
    opacity: 0.8;
    object-fit: cover;
}
.header-container .header-img-text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-img-text .header-text { 
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.button-box {
    flex-wrap: nowrap;
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.button-box .button1 {
    width: 170px;
    height: 55px;
    margin-right: 10px;
    border-radius: 5px;
    color: #FFF;
    background: #89CA62;
}
.button-box .button2 {
    width: 170px;
    height: 55px;
    margin-left: 10px;
    border-radius: 5px;
    color: #FFF;
    background: #14B9D5;
}
.section1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 1030px;
    background: #F2F2F2;
    position: relative;
}
.section1 .title {
    margin: 49px auto 34px;
}
.section1 .title .title-text {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.section1 .table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.table .table-column {
    display: flex;
    flex-direction: column;
}
.table .item {
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.table .table-image {
    width: 370px;
}
.table .table-text {
    margin: 20px auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    color: #353A3D;
}
.section2 {
    height: 588px;
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(135px, auto)) 1fr;
    grid-template-rows: 26% 1fr 38%;
    grid-gap: 58px;

    grid-template-areas:
    "title title title title title title"
    "line line line line line line "
    ". logo-item2 logo-item4 logo-item1 logo-item3 .";
    background-image: url(../image/Our\ most\ popular\ clients/image1.png);
}
.section2 .title {
    grid-area: title;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    align-self: end;

color: #FFFFFF;
}
.section2 .line {
    margin-top: 25px;
    width: 60px;
    border-top: 3px solid #18B4CF;
    background: #18B4CF;
    grid-area: line;
}
.logo-item1 {
    grid-area: logo-item1;
}
.logo-item2 {
    grid-area: logo-item2;
}
.logo-item3 {
    grid-area: logo-item3;  
}
.logo-item4 {
    grid-area: logo-item4;
}
.section3 {
    display: grid;
    align-items: center;
    grid-template-rows: 137px auto;
    grid-template-columns: repeat(7, auto);
}
.section3 .title {
    grid-area: 1 / 1 / 2 /span 7;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.section4 {
    width: 1168px;
    margin: 0 auto 71px;
    display: grid;
    grid-template-rows: 93px 259px 878px 259px;
    grid-row-gap: 44px;
}
.section4 .title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 50px;
    justify-self: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.section4 .item1 {
    display: grid;
    grid-template-columns: 1fr 277px;
    grid-template-rows: 1fr 1fr;
    column-gap: 35px;
}
.section4 .item1-unit1 {
    display: grid;
    grid-template-columns: 483px 1fr;

}
.section4 .section4-image1 {
    width: 100%;
}
.section4 .text-box {
    background: #F9F7F7;
}
.section4 .text-title1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding: 41px 27px 15px;
    color: #353A3D;
}
.section4 .text-context {
    margin-right: 23px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.section4 .item1-unit2 {
    display: grid;
    grid-template-rows: auto;
    background: #F9F7F7;
}
.section4 .section4-image2 {
    width: 100%;
}
.section4 .text-title2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}
.section4 .item2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 44px;
    grid-column-gap: 60px;
}
.item2 .unit {
    background-color: #F9F7F7;;
}
.item2 .item2-image {
    width: 100%;
}
.item2 .item2-title {
    padding: 14px 27px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}
.item2 .item2-context {
    font-weight: 600;
    padding: 0 14px;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.section4 .item3 {
    display: grid;
    grid-template-columns: 277px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 35px;
}
.footer {
    width: 1900px;
    height: 80px;
    background-color: #000;
    display: grid;
    grid-template-columns: 366px repeat(2, 1fr) 366px;
    grid-template-areas: 
    ". footer-text footer-logo .";
    align-items: center;
}
.footer .footer-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    justify-self: start;
    color: #FFFFFF;
    grid-area: footer-text;
}
.footer .footer-logo {
    justify-self: end;
    grid-area: footer-logo;
}
.footer-logo .footer-image1 {
    width: 38px;
}
.footer-logo .footer-image2 {
    width: 64px;
    padding-bottom: 8px;
}