body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
   }
.container {
    width: 1280px;
    margin: 0 auto;
}
.container .subject {
    padding: 40px 0;
}
.container .subject a {
    font-size: 80px;
    line-height: 94px;
    text-align: left;
    text-decoration: none;

    color: #000000;
}
.container .subject a .colored {
    color: deepskyblue;
}
.top-menu {

}
.top-menu .top-menu-list {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    padding-left: 0;
    }
.top-menu .top-menu-list .top-menu-item {
    white-space: nowrap;
    padding: 26px 38px 19px;
    border-right: 1px solid #FFFFFF;
    background: #35444F;
}
.top-menu .top-menu-list .top-menu-item:hover{
	background: #222F3A;
}
.top-menu .top-menu-list .top-menu-item a {
    text-decoration: none;
    color: #FFFFFF;
}
.top-menu .top-menu-list .top-menu-item-side {
    width: 50%;
    padding: 0 38px;
    border-right: 1px solid #FFFFFF;
    background: #35444F;
}
.container-main {
    display: flex; 
    justify-content: space-between; 
    width: 1280px;
    margin: 0 auto; 
}
.container-main .left-menu {
    align-items: center;
    width: 100%;
    margin-top: 48px;
    width: 344px;
    height: 395px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000; 
}
.left-menu .left-menu-list {
    
}
.left-menu .left-menu-list .left-menu-item {
    padding: 26px 44px;
    font-size: 27px;
    line-height: 27px;
}
.left-menu .left-menu-list .left-menu-item:hover {
    text-align: center;
    background: #DBDBDB;
}
.left-menu .left-menu-list .left-menu-item a {
    color: rgba(72, 88, 99, 1);
    text-decoration: none;
}
.left-menu .left-menu-list .left-menu-item a:hover {
    color: black;
}
.container-main .rigth-content {
    width: 885px; 
}
.container-main .rigth-content .image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    height: 529px;
    right: auto;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.container-main .rigth-content .image-box {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.container-main .rigth-content .image-box:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.container-main .rigth-content .image-box .image {
    width: 320px;
   }
.container-main .rigth-content .text {
    margin: 37px 0 17px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.rigth-content .text .text-content {
    padding-bottom: 34px;
}
.footer {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
    
    background: rgba(99, 105, 110, 0.48); 
}
.footer .bottom-menu {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
}
.footer .bottom-menu .bottom-menu-list {

}
.footer .bottom-menu .bottom-menu-list .bottom-menu-item {
    display: inline-block;
    padding: 20px 0 20px 20px;
    vertical-align: middle;
    font-size: 28px;
    line-height: 28px;
}
.footer .bottom-menu .bottom-menu-list .bottom-menu-item a{
    color: #0C1927;
    text-decoration: none;
}
.footer .bottom-menu .bottom-menu-list .bottom-menu-item a:hover {
    color: dodgerblue;
}
.footer .bottom-menu .bottom-menu-list .bottom-menu-last-item {
    display: inline-block;
    padding-left: 135px;
    vertical-align: middle;
    font-size: 24px;
    line-height: 24px; 
    color: #010101;
}